.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Example height */
    background-color: #333; /* Example background color */
    color: #fff; /* Example text color */
    text-align: center;
    padding: 10px 0; /* Adjust padding as needed */
  }
  .menu {
    background-color: black;
    border: 1px solid #ccc;
    position: absolute;
    top: 100%; /* Position the menu below the header */
    left: 50%; /* Center the menu horizontally */
    transform: translateX(-50%); /* Center the menu horizontally */
    width: 200px;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    padding: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
  }
  
  .menu ul li:last-child {
    border-bottom: none;
  }
  