.nav {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  .nav h1 {
    margin: 0;
  }
  
  .nav h1 a {
    text-decoration: none;
    color: white;
    padding: 10px 20px; /* Adjust padding as needed */
  }
  
  .nav h1 a:hover {
    background-color: #555;
  }
  